#!/usr/bin/env bash

# zsh
alias sz="source ~/.zshrc"
alias zshrc="vi ~/.zshrc"

# vim
alias vimrc="vim ~/.vimrc"
alias vi="vim"

# Kubernetes
alias kb="kubectl"

# Docker
alias docker-c="docker-compose"

# Networking
alias myip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"

# Go
alias gmt="go mod tidy"

# Vault
alias gtv="cd $HOME/$DEVELOPER/hashicorp/vault"
alias gte="cd $HOME/$DEVELOPER/hashicorp/environments"
alias vt="echo $VAULT_TOKEN"
alias vlr="vault login root"

# Terraform
alias tf="terraform"
alias tfd="terraform destroy -auto-approve"
alias tfa="terraform apply -auto-approve"

# Directories
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias icloud="cd ~/Library/Mobile\ Documents/com~apple~CloudDocs"
alias notes="cd ~/Library/Mobile\ Documents/iCloud\~md\~obsidian/Documents/notes"
alias dev="cd $HOME/$DEVELOPER"

# Misc
alias vms="vmrun list"
alias python=/usr/bin/python3
