#!/usr/bin/env bash

# zsh
alias sz="source ~/.zshrc"
alias zshrc="vi ~/.zshrc"

# vim
alias vimrc="vim ~/.vimrc"
alias vi="vim"

# Kubernetes
alias kb="kubectl"

# Docker
alias docker-c="docker-compose"

# Networking
alias myip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"

# Vault
alias gtv="cd $HOME/$WORKSPACE/hashicorp/vault"
alias gtve="cd $HOME/$WORKSPACE/hashicorp/vault-enterprise"
alias gte="cd $HOME/$WORKSPACE/hashicorp/environments"
alias vault-dev='vault server -log-level=trace -dev -dev-root-token-id="root"'
alias vt="echo $VAULT_TOKEN"

# Directories
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias icloud="cd ~/Library/Mobile\ Documents/com~apple~CloudDocs"
alias notable="cd ~/Library/Mobile\ Documents/com~apple~CloudDocs/Documents/notable"
alias wksp="cd $HOME/$WORKSPACE"

# Misc
alias vms="vmrun list"
