#!/usr/bin/env bash

# Misc
export EDITOR='vim'
export WORKSPACE="Workspace"

# Golang
export GOPATH="$HOME/go"
export GOBIN="$HOME/go/bin"
export GOMODCACHE="$GOPATH/pkg/mod"
export GOPRIVATE="github.com/hashicorp/*"
export GOPROXY="https://proxy.golang.org,direct"

# Vault
export VAULT_ADDR="http://127.0.0.1:8200"
export PLUGIN_DIR="$HOME/Workspace/hashicorp/environments/vault/plugins/binaries"
export VAULT_CLIENT_TIMEOUT=6000
export VAULT_AUDIT_FILE="/tmp/vault_audit.log"

# Vagrant
export VAGRANT_DEFAULT_PROVIDER="vmware_fusion"

# Kubernetes
# export KUBECONFIG=$HOME/$WORKSPACE/vagrant-k8s-cluster/config

# AWS
export AWS_DEFAULT_OUTPUT="json"
export AWS_PAGER=""
export AWS_PROFILE="default"

# GCP
export GOOGLE_EXTERNAL_ACCOUNT_ALLOW_EXECUTABLES=1