#!/usr/bin/env bash

# Golang
export GOPATH="$HOME/go"
export GOBIN="$HOME/go/bin"
export GOMODCACHE="$GOPATH/pkg/mod"
export GOPRIVATE="*github.com/hashicorp*"

# Vault
export VAULT_ADDR="http://127.0.0.1:8200"

# Vagrant
export VAGRANT_DEFAULT_PROVIDER="vmware_fusion"

# Kubernetes
export KUBECONFIG=$KUBECONFIG:$HOME/$WORKSPACE/vagrant-k8s-cluster/config

# AWS
export AWS_REGION="us-west-1"

# Misc
export EDITOR='vim'
export WORKSPACE="Workspace"
