#!/usr/bin/env bash

# Golang
export GOPATH=$(go env GOPATH)
export GOBIN=$(go env GOBIN)
export GOMODCACHE="$GOPATH/pkg/mod"
export GOPRIVATE="*github.com/hashicorp*"

# Vault
# export VAULT_TOKEN="root"
export VAULT_ADDR="http://127.0.0.1:8200"

# Vagrant
export VAGRANT_DEFAULT_PROVIDER="vmware_fusion"

# Kubernetes
export KUBECONFIG=$KUBECONFIG:$HOME/$WORKSPACE/vagrant-k8s-cluster/config

# Misc
export EDITOR='vim'
export WORKSPACE="Workspace"

# zsh
export ZSH_AUTOSUGGEST_STRATEGY=(
    history
    completion
)
