[user]
        name = Austin Gebauer
        email = gebauer.austin@gmail.com
[core]
        excludesfile = /Users/agebauer/.gitignore_global
[pager]
        branch = false
[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
[hub]
        protocol = https
[pull]
        rebase = false
[init]
        defaultBranch = main
[url "git@github.com:"]
        insteadOf = https://github.com/
