[user]
        name = Austin Gebauer
        email = gebauer.austin@gmail.com
[core]
        excludesfile = ~/.gitignore_global
[pager]
	branch = false
[url "git@github.com:"]
	insteadOf = https://github.com/
